.intro {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
#about, #contact, #projects {
  padding-top: 7%;

}

#contact, #projects {
  padding-bottom: 10%;
}

#contact, #about, #map, #projects, footer {
  background-color: black;
}

.logoContainer {
  display: inline-block;
  padding-left: 2.5%;
  padding-right: 2.5%;
}
#authr {
   font-family: 'Dancing Script', cursive, 'Pacifico', cursive;
   font-size: 6rem;
   cursor: pointer;
   color: rgb(41, 109, 41);
}

#adMe {
  color: white;
  font-size: 6rem;
  font-family: Modak, cursive;
  cursor: pointer;
}

#elevated {
  color: white;
  font-size: 6rem;
  font-family: Abril Fatface, serif;
  cursor: pointer;
}

#milkIt {
  font-size: 6rem;
  font-family: Lobster, cursive;
  cursor: pointer;
  position: relative;
  right: 3%;
  display: inline-block;
  color: white;
}

#queuepon {
  font-size: 6rem;
  font-family: Bubblegum Sans;
  font: bold;
  cursor: pointer;
  color: white;
}

#purple {
  color: rebeccapurple;
}

#udder {
  width: 5rem;
  display: inline-block;
  position: relative;
  transform: rotate(270deg);
  left: 10%;
}

img {
  width: 5rem;
  background-size: cover;
}

.langContainer {
  height: 130px;
}

.appLink:hover {
  text-shadow: 2px 2px 5px white, 0 0 15px white, 0 0 25px white;
}
.aboutMeP {
  text-align: left;
}
